.imgHome{
    width: 100%;
   height: 520px
}

.navbarStyled{
    display: flex;
    align-items:end;
    justify-content: space-between;
    height:110px;
    width: 100%;
    background-color: rgb(194, 163, 97);
    border-bottom: solid 6px white;
}

.boxImg{
    width: 200px;
    height: 100%;
}

.ImgLogo{
    width:70%;
    height:80%;
    margin-top: 10px;
    margin-left: 20px;
}

.containerButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
    gap: 2.5em;
}

.buttonCategory{
    width: 120px;
    height: 25px !important;
    border-bottom: solid white;
    background-color: transparent !important;
    &:hover{
        border-bottom: solid #422c02;
    }
}

.boxCarrito{
    cursor: pointer;
    margin-left: 2em;
    margin-bottom: 1em;
}

.BoxNumCarrito{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-left: 0.2em;
    margin-top: 1.1em;
}

.boxItemListContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    gap: 2em;
    background-image: url("../../public/fondo1.1.jpg");
    background-position:start;
    background-size:cover;
    padding: 2em;
    flex-wrap: wrap;
}

.styledCard{
    width: 240px;
    height:380px;
    display: flex;
    align-items: center;
    border: solid transparent !important;
    background-color: rgb(194, 163, 97) !important;
    &:hover{
        background-color: #fcdda5 !important;
    }
}

.containerImg{
    border:solid white;
    width: 220px;
    height: 200px;
}

.boxItemDetailContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../public/fondo2.jpg");
    background-position: center;
    background-size: cover;
}

.styledCardDetail{
    width: 400px;
    height:450px;
    display: flex;
    align-items: center;
    border: solid transparent !important;
    margin-top: 2em;
    background-color: rgb(194, 163, 97) !important;
}

.containerImgDetail{
    border:solid white;
    width: 350px;
    height: 200px;
}





